<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CodersEntities" connectionString="metadata=res://*/Coders.csdl|res://*/Coders.ssdl|res://*/Coders.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MIKE-PC\SQLEXPRESS;Initial Catalog=coders;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>